// showing default values
$accentColor = #f79321
$textColor = #222
$borderColor = #e0e0e0
$codeBgColor = #2f3542

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:300,300i,400,400i");

pre {
    font-size: 0.85em;
    color: white;
}
.content pre code {
    font-size: 1em;
}

body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}


ul.sidebar-links > ul.sidebar-group-items > li > a {
    background-color: red;
}
